In [5]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r"C:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\notebooks\data\hour.csv")

In [6]:
# Check the summary for the numeric columns 
df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [7]:
# Check the number of rows and columns in the dataframe
df.shape

(17379, 17)

In [8]:
# datatype info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [9]:
# check for null values
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [10]:
# Converting date to Pandas datetime format
df['dteday'] = pd.to_datetime(df['dteday'])

In [11]:
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [12]:
# We will change the following Int column into a categorical column.
cols = ['season','yr','mnth','hr','holiday','weekday','workingday','weathersit']

for col in cols:
    df[col] = df[col].astype('category')
df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  datetime64[ns]
 2   season      17379 non-null  category
 3   yr          17379 non-null  category
 4   mnth        17379 non-null  category
 5   hr          17379 non-null  category
 6   holiday     17379 non-null  category
 7   weekday     17379 non-null  category
 8   workingday  17379 non-null  category
 9   weathersit  17379 non-null  category
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: category(8), datetime64[ns](1), float64(4), int64(4)
memory usage: 1.3 MB

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [13]:
#The column 'instant' is very insignificant. Hence dropping that column.
df=df.drop('instant',axis=1)
df.shape

(17379, 16)

In [14]:
#dropping dteday
df=df.drop('dteday', axis=1)
df.shape

(17379, 15)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      17379 non-null  category
 1   yr          17379 non-null  category
 2   mnth        17379 non-null  category
 3   hr          17379 non-null  category
 4   holiday     17379 non-null  category
 5   weekday     17379 non-null  category
 6   workingday  17379 non-null  category
 7   weathersit  17379 non-null  category
 8   temp        17379 non-null  float64
 9   atemp       17379 non-null  float64
 10  hum         17379 non-null  float64
 11  windspeed   17379 non-null  float64
 12  casual      17379 non-null  int64
 13  registered  17379 non-null  int64
 14  cnt         17379 non-null  int64
dtypes: category(8), float64(4), int64(3)
memory usage: 1.1 MB

In [16]:
print('Number of holidays in 2011: ',len(df[(df['holiday']==1) & (df['yr']==0)]))
print('Number of holidays in 2012: ',len(df[(df['holiday']==1) & (df['yr']==1)]))

Number of holidays in 2011:  239
Number of holidays in 2012:  261

In [17]:
# Univariate analysis of few seemingly significant continuous variables:
univariate_numerical_cols=df.select_dtypes(include=np.number)
univariate_numerical_cols=list(univariate_numerical_cols)
univariate_numerical_cols
univariate_continuous_var=[i for i in univariate_numerical_cols if i not in ['yr',
 'mnth',
 'day',
 'holiday',
 'weekday',
 'workingday']]
univariate_continuous_var

['temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']

In [18]:
test_count = df['casual'] + df['registered'] == df['cnt']
assert test_count.sum() == len(test_count)

In [19]:
df.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [20]:
df_new=df.copy()

In [21]:

df_new = df_new[['yr','season','mnth','hr','weekday','weathersit','holiday','workingday','temp','atemp','hum','windspeed','casual','registered','cnt']]
df_new.head()

,yr,season,mnth,hr,weekday,weathersit,holiday,workingday,temp,atemp,hum,windspeed,casual,registered,cnt
0,0,1,1,0,6,1,0,0,0.24,0.2879,0.81,0.0,3,13,16
1,0,1,1,1,6,1,0,0,0.22,0.2727,0.80,0.0,8,32,40
2,0,1,1,2,6,1,0,0,0.22,0.2727,0.80,0.0,5,27,32
3,0,1,1,3,6,1,0,0,0.24,0.2879,0.75,0.0,3,10,13
4,0,1,1,4,6,1,0,0,0.24,0.2879,0.75,0.0,0,1,1

Since we have casual+registered=cnt and inferences are built from casual and registered records, let's drop them from original dataframe df since these columns seem irrelevant for the model. Also it is a given that increasing casual or registered users both will be profitable factor for the business

In [22]:
df=df.drop(['casual', 'registered'],axis=1)
df.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [23]:
df=df.drop('atemp',axis=1)

In [24]:
df=df.drop('holiday',axis=1)

In [25]:
df.head()

  season yr mnth hr weekday workingday weathersit  temp   hum  windspeed  cnt
0      1  0    1  0       6          0          1  0.24  0.81        0.0   16
1      1  0    1  1       6          0          1  0.22  0.80        0.0   40
2      1  0    1  2       6          0          1  0.22  0.80        0.0   32
3      1  0    1  3       6          0          1  0.24  0.75        0.0   13
4      1  0    1  4       6          0          1  0.24  0.75        0.0    1

In [26]:

x=df.drop(labels=["cnt"],axis=1)

In [27]:
y=df[["cnt"]]

In [28]:
x

      season yr mnth  hr weekday workingday weathersit  temp   hum  windspeed
0          1  0    1   0       6          0          1  0.24  0.81     0.0000
1          1  0    1   1       6          0          1  0.22  0.80     0.0000
2          1  0    1   2       6          0          1  0.22  0.80     0.0000
3          1  0    1   3       6          0          1  0.24  0.75     0.0000
4          1  0    1   4       6          0          1  0.24  0.75     0.0000
...      ... ..  ...  ..     ...        ...        ...   ...   ...        ...
17374      1  1   12  19       1          1          2  0.26  0.60     0.1642
17375      1  1   12  20       1          1          2  0.26  0.60     0.1642
17376      1  1   12  21       1          1          1  0.26  0.60     0.1642
17377      1  1   12  22       1          1          1  0.26  0.56     0.1343
17378      1  1   12  23       1          1          1  0.26  0.65     0.1343

[17379 rows x 10 columns]

In [29]:
y

       cnt
0       16
1       40
2       32
3       13
4        1
...    ...
17374  119
17375   89
17376   90
17377   61
17378   49

[17379 rows x 1 columns]

In [31]:
categorical_cols=x.select_dtypes(include='object').columns

In [34]:
categorical_cols

Index([], dtype='object')

In [32]:
numerical_cols=x.select_dtypes(exclude='object').columns

In [33]:
numerical_cols

Index(['season', 'yr', 'mnth', 'hr', 'weekday', 'workingday', 'weathersit',
       'temp', 'hum', 'windspeed'],
      dtype='object')

In [35]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numerical_columns = ["temp", "hum","windspeed"]
categorical_columns = ["yr","mnth","hr","weekday","season","workingday","weathersit"]
num_pipeline= Pipeline(steps=[("scaler",StandardScaler())])
cat_pipeline=Pipeline(steps=[
            ("one_hot_encoder",OneHotEncoder(handle_unknown = 'error',drop='first',sparse=False)),
            ("scaler",StandardScaler(with_mean=False))
            ])


preprocessor=ColumnTransformer(
            [
            ("num_pipeline",num_pipeline,numerical_columns),
            ("cat_pipelines",cat_pipeline,categorical_columns)

            ],remainder="passthrough"
        )

In [37]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=30)

In [38]:
preprocessor.fit_transform(X_train)

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[-0.19293618,  1.31906927, -0.69979849, ...,  0.        ,
         0.        ,  0.        ],
       [-0.29636773,  1.63075526, -1.55084331, ...,  0.        ,
         0.        ,  0.        ],
       [-0.50323082,  1.63075526,  0.27259148, ...,  2.2774504 ,
         0.        ,  0.        ],
       ...,
       [ 1.04824236,  0.12427299, -1.55084331, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.04824236,  0.85154029, -1.55084331, ...,  2.2774504 ,
         0.        ,  0.        ],
       [ 0.63451618,  1.94244124, -1.55084331, ...,  2.2774504 ,
         0.        ,  0.        ]])

In [39]:
preprocessor.transform(X_test)

array([[ 1.04824236,  0.59180197, -0.2136035 , ...,  2.2774504 ,
         0.        ,  0.        ],
       [-0.71009391, -1.17441862,  0.88013162, ...,  0.        ,
         0.        ,  0.        ],
       [-0.39979927, -0.65494198,  0.51528178, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.53108464, -0.34325599,  1.85252159, ...,  2.2774504 ,
         0.        ,  0.        ],
       [ 1.46196855, -0.86273263,  0.88013162, ...,  0.        ,
         0.        ,  0.        ],
       [-0.71009391,  1.26712161,  0.75878647, ...,  0.        ,
         3.66583654,  0.        ]])

In [40]:
preprocessor.get_feature_names_out()

array(['num_pipeline__temp', 'num_pipeline__hum',
       'num_pipeline__windspeed', 'cat_pipelines__yr_1',
       'cat_pipelines__mnth_2', 'cat_pipelines__mnth_3',
       'cat_pipelines__mnth_4', 'cat_pipelines__mnth_5',
       'cat_pipelines__mnth_6', 'cat_pipelines__mnth_7',
       'cat_pipelines__mnth_8', 'cat_pipelines__mnth_9',
       'cat_pipelines__mnth_10', 'cat_pipelines__mnth_11',
       'cat_pipelines__mnth_12', 'cat_pipelines__hr_1',
       'cat_pipelines__hr_2', 'cat_pipelines__hr_3',
       'cat_pipelines__hr_4', 'cat_pipelines__hr_5',
       'cat_pipelines__hr_6', 'cat_pipelines__hr_7',
       'cat_pipelines__hr_8', 'cat_pipelines__hr_9',
       'cat_pipelines__hr_10', 'cat_pipelines__hr_11',
       'cat_pipelines__hr_12', 'cat_pipelines__hr_13',
       'cat_pipelines__hr_14', 'cat_pipelines__hr_15',
       'cat_pipelines__hr_16', 'cat_pipelines__hr_17',
       'cat_pipelines__hr_18', 'cat_pipelines__hr_19',
       'cat_pipelines__hr_20', 'cat_pipelines__hr_21',
       'cat_pipelines__hr_22', 'cat_pipelines__hr_23',
       'cat_pipelines__weekday_1', 'cat_pipelines__weekday_2',
       'cat_pipelines__weekday_3', 'cat_pipelines__weekday_4',
       'cat_pipelines__weekday_5', 'cat_pipelines__weekday_6',
       'cat_pipelines__season_2', 'cat_pipelines__season_3',
       'cat_pipelines__season_4', 'cat_pipelines__workingday_1',
       'cat_pipelines__weathersit_2', 'cat_pipelines__weathersit_3',
       'cat_pipelines__weathersit_4'], dtype=object)

In [42]:

X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [43]:
X_train

,num_pipeline__temp,num_pipeline__hum,num_pipeline__windspeed,cat_pipelines__yr_1,cat_pipelines__mnth_2,cat_pipelines__mnth_3,cat_pipelines__mnth_4,cat_pipelines__mnth_5,cat_pipelines__mnth_6,cat_pipelines__mnth_7,...,cat_pipelines__weekday_4,cat_pipelines__weekday_5,cat_pipelines__weekday_6,cat_pipelines__season_2,cat_pipelines__season_3,cat_pipelines__season_4,cat_pipelines__workingday_1,cat_pipelines__weathersit_2,cat_pipelines__weathersit_3,cat_pipelines__weathersit_4
0,-0.192936,1.319069,-0.699798,0.000000,0.0,0.000000,0.0,3.574837,0.0,0.000000,...,0.0,2.846087,0.000000,2.299716,0.000000,0.000000,2.150811,0.00000,0.0,0.0
1,-0.296368,1.630755,-1.550843,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,2.326542,0.000000,0.00000,0.0,0.0
2,-0.503231,1.630755,0.272591,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,2.847437,0.000000,0.000000,0.000000,0.000000,2.27745,0.0,0.0
3,-0.813525,-0.706890,0.272591,0.000000,0.0,3.611264,0.0,0.000000,0.0,0.000000,...,0.0,2.846087,0.000000,0.000000,0.000000,0.000000,2.150811,0.00000,0.0,0.0
4,1.151674,0.591802,-0.457108,2.000001,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,2.846087,0.000000,0.000000,2.285197,0.000000,2.150811,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12160,-2.261567,-0.706890,-1.550843,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,2.847437,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0
12161,0.634516,0.799593,-0.821144,2.000001,0.0,0.000000,0.0,3.574837,0.0,0.000000,...,0.0,0.000000,0.000000,2.299716,0.000000,0.000000,2.150811,0.00000,0.0,0.0
12162,1.048242,0.124273,-1.550843,2.000001,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,2.326542,2.150811,0.00000,0.0,0.0
12163,1.048242,0.851540,-1.550843,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.560924,...,0.0,0.000000,0.000000,0.000000,2.285197,0.000000,2.150811,2.27745,0.0,0.0
12164,0.634516,1.942441,-1.550843,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,2.846087,0.000000,0.000000,2.285197,0.000000,2.150811,2.27745,0.0,0.0

In [44]:
X_test

,num_pipeline__temp,num_pipeline__hum,num_pipeline__windspeed,cat_pipelines__yr_1,cat_pipelines__mnth_2,cat_pipelines__mnth_3,cat_pipelines__mnth_4,cat_pipelines__mnth_5,cat_pipelines__mnth_6,cat_pipelines__mnth_7,...,cat_pipelines__weekday_4,cat_pipelines__weekday_5,cat_pipelines__weekday_6,cat_pipelines__season_2,cat_pipelines__season_3,cat_pipelines__season_4,cat_pipelines__workingday_1,cat_pipelines__weathersit_2,cat_pipelines__weathersit_3,cat_pipelines__weathersit_4
0,1.048242,0.591802,-0.213604,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,2.847437,0.000000,2.285197,0.000000,0.000000,2.27745,0.000000,0.0
1,-0.710094,-1.174419,0.880132,0.000000,3.707352,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,2.150811,0.00000,0.000000,0.0
2,-0.399799,-0.654942,0.515282,0.000000,0.000000,0.0,0.000000,3.574837,0.0,0.000000,...,2.870078,0.0,0.000000,2.299716,0.000000,0.000000,2.150811,0.00000,0.000000,0.0
3,1.461969,-0.862733,0.880132,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,2.285197,0.000000,2.150811,0.00000,0.000000,0.0
4,-0.503231,1.007383,-0.821144,2.000001,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,2.326542,2.150811,0.00000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5209,1.048242,1.111279,-0.213604,2.000001,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,2.870078,0.0,0.000000,0.000000,2.285197,0.000000,2.150811,0.00000,3.665837,0.0
5210,0.013927,1.630755,-0.821144,0.000000,0.000000,0.0,3.652347,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,2.299716,0.000000,0.000000,0.000000,0.00000,0.000000,0.0
5211,0.531085,-0.343256,1.852522,2.000001,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,2.847437,0.000000,0.000000,2.326542,0.000000,2.27745,0.000000,0.0
5212,1.461969,-0.862733,0.880132,0.000000,0.000000,0.0,0.000000,0.000000,0.0,3.560924,...,0.000000,0.0,2.847437,0.000000,2.285197,0.000000,0.000000,0.00000,0.000000,0.0
5213,-0.710094,1.267122,0.758786,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,2.870078,0.0,0.000000,0.000000,0.000000,2.326542,2.150811,0.00000,3.665837,0.0

In [45]:
from xgboost import XGBRegressor
from sklearn.ensemble import (AdaBoostRegressor,GradientBoostingRegressor,RandomForestRegressor)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import BaggingRegressor



import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square


models = {
    "Random Forest": RandomForestRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Gradient Boosting": GradientBoostingRegressor(),
    "Linear Regression": LinearRegression(),
    "XGBoosting Regressor": XGBRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor(),
    "KNeighbor Regressor": KNeighborsRegressor(),
    "Support Vector Regressor":SVR(),
    "Bagging Regressor": BaggingRegressor()
}

In [46]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [47]:
list(models)

['Random Forest',
 'Decision Tree',
 'Gradient Boosting',
 'Linear Regression',
 'XGBoosting Regressor',
 'AdaBoost Regressor',
 'KNeighbor Regressor',
 'Support Vector Regressor',
 'Bagging Regressor']

In [48]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest
Model Training Performance
RMSE: 57.226065366119656
MAE: 35.69868552614755
R2 score 89.98028307108939
===================================


Decision Tree
Model Training Performance
RMSE: 79.59025564497533
MAE: 46.421077867280395
R2 score 80.61849585518914
===================================

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Gradient Boosting
Model Training Performance
RMSE: 83.87227162364358
MAE: 60.23544412102259
R2 score 78.4769164988131
===================================


Linear Regression
Model Training Performance
RMSE: 103.33800187757292
MAE: 76.26923342553266
R2 score 67.32709132843766
===================================

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\xgboost\core.py:160: UserWarning: [00:36:48] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "verbose" } are not used.

  warnings.warn(smsg, UserWarning)
c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBoosting Regressor
Model Training Performance
RMSE: 52.43265330471285
MAE: 34.146259709638244
R2 score 91.58854066373408
===================================


AdaBoost Regressor
Model Training Performance
RMSE: 139.99118444135496
MAE: 117.22425775685599
R2 score 40.038974045861885
===================================


KNeighbor Regressor
Model Training Performance
RMSE: 84.48159258678326
MAE: 55.67663981588032
R2 score 78.16305583558159
===================================

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Support Vector Regressor
Model Training Performance
RMSE: 139.58614818522187
MAE: 88.83111039001024
R2 score 40.385442370684565
===================================

c:\Users\ramiu\Desktop\ineuron projects\RentalBikeSharePrediction\env\lib\site-packages\sklearn\ensemble\_bagging.py:509: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)

Bagging Regressor
Model Training Performance
RMSE: 61.75349723376418
MAE: 38.55028065464774
R2 score 88.33215115140547
===================================

In [49]:
r2_list

[0.899802830710894,
 0.8061849585518914,
 0.784769164988131,
 0.6732709132843766,
 0.9158854066373409,
 0.40038974045861886,
 0.7816305583558159,
 0.40385442370684566,
 0.8833215115140547]

In [50]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score'])

                 Model Name  R2_Score
0             Random Forest  0.899803
1             Decision Tree  0.806185
2         Gradient Boosting  0.784769
3         Linear Regression  0.673271
4      XGBoosting Regressor  0.915885
5        AdaBoost Regressor  0.400390
6       KNeighbor Regressor  0.781631
7  Support Vector Regressor  0.403854
8         Bagging Regressor  0.883322